html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/light-grey-terrazzo.png");
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.column,
.section {
  margin-bottom: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  background-color: #0f4c64;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 20px;
}

.linkList {
  padding: 10px 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  border-right: 1px solid #777777;
  padding: 10px 20px;
  text-decoration: none;
}

.link.active {
  font-weight: bold;
}

.header {
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
  border-bottom: solid #cccccc 2px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 100%;
  background: #ffffff;
  border: 2px solid #dddddd;
}

.section {
  padding: 30px;
  width: 100%;
}

.form-content {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

.pageBody {
  padding: 20px;
}

.heading {
  color: #0f4c64;
  font-family: "Georgia", Times, "Times New Roman", serif;
  border-bottom: solid #cccccc 2px;
  padding: 10px;
}

.paragraph {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}

.group {
  margin-bottom: 10px;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.input {
  border: 1px solid #b3a1a1;
  padding: 10px 20px;
  color: #666;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  background: #0f4c64;
  color: white;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  padding: 20px;
  border-radius: 15px;
}

.galleryColumn {
  display: flex;
  flex-wrap: wrap;
}

.imageBox {
  width: 300px;
  margin: 10px;
  box-shadow: 0 2px 6px -2px #666;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.imageBox a {
  position: relative;
}

.imageBox .project-image {
  opacity: 0.8;
  transition: ease-out 0.2s opacity;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.imageBox .project-image:before {
  content: "";
  background: red;
  width: 20px;
  width: 20px;
}

.imageBox:hover img {
  opacity: 1;
  transition: ease-in 0.2s opacity;
}

.hidden-info {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100px;
  height: 25px;
  margin-left: -50px;
  margin-top: -12px;
  text-align: center;
  opacity: 0;
  transition: ease-out 0.2s opacity;
  transition: ease-out 0.2s top;
}

.hidden-info img {
  width: 25px;
  height: 25px;
}

.imageBox:hover .hidden-info {
  opacity: 1;
  top: 50%;
  transition: ease-in 0.2s opacity;
  transition: ease-out 0.2s top;
}

.project-image {
  display: block;
}

.overlay {
  background-color: #0f4c64;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.overlay a {
  color: white;
}

.gh {
  position: relative;
  display: inline-block;
}

.gh:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -22px;
  background-image: url("../images/gh-ico.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}

.footer {
  width: 100%;
  background-color: #0f4c64;
  padding: 1em;
  display: flex;
  justify-content: center;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  border-top: 8px solid #197fa7;
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .column {
    width: 680px;
    padding: 15px;
  }
  .input {
    width: 100%;
  }

  .group {
    width: 300px;
  }
}

@media only screen and (min-width: 960px) {
  .column {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
  }

  .logo {
    padding-top: 25px;
  }

  .header {
    display: flex;
  }

  .header-content {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .pageBody {
    padding: 0;
  }
}
