
html,
body {
    margin: 0;
    padding: 0;
    background-image: url("../images/light-grey-terrazzo.png")
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 350px;

}

.linkList{
    padding: 10px 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 350px;
}

.link {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-right: 1px solid #777777;
    padding: 10px 20px;
    text-decoration: none; 

}


.header {
    display: flex;
    justify-content: space-between;
    background:#ffffff;
    align-items: center;
    border-bottom: solid #cccccc 2px;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.column{
    padding: 20px;
    width: 960px;
    background: #ffffff;
    border: 2px solid #dddddd ;
   
}

.section{
    padding: 30px;
}

.column--form{
    padding: 10px;
    background: #ffffff;
    width: 960px;
    border: 2px solid #dddddd ;
    display: flex;
    justify-content: center;
    align-content: center;
    
}


.heading {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: solid #cccccc 2px;
    padding: 10px;
}


.paragraph{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.group{
    margin-bottom: 10px;
}

.label{
    display: block;
    margin-bottom: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.input{
    border: 1px solid #999;
    padding: 10px 20px;
    
}

.button{
    background: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: auto;
}

.gallleryColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.imageBox{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

img{
    display: block;
    width: 300px;
    height: auto;
}

.overlay {
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 260px;
  }

.footer{
    width: 100%;
    background-color: #666666;
    padding: 1em;
    display: flex;
    justify-content: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    
}